[package]
name = "nezumi-driver"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full"] }
anyhow = "1"
bytes = "1"
async-trait = "0.1"
nezumi = { path = "../nezumi" }
